/* 

Colors

Background:
0B0C10
Secondary Background:
1F2833
Gray
C5C6C7
Primary:
66FCF1
Secondary:
45A29

*/

body{
	background-color: C5C6C7;
	font-family: 'Montserrat', sans-serif;
	color: 0B0C10;
}

h1,h2,h3,h4,h5{
	font-weight: 700;
}

a{
	color:66FCF1;
}
/*Button colors*/
.button-style{
	background-color:  1F2833 !important;
	color: 66FCF1 !important;
}
/*Block Buttons sharing*/
div.user-post-share{
	text-align: center !important;
}
/*Block like buttons*/
div.user-likes{
	text-align: right !important;
	padding-right: 20px;
	padding-bottom: 20px;
}
.form-group{
	align-items: center !important;
}
/* Header */

nav.navbar{
	background-color: 1F2833 !important;
	color: 66FCF1 !important;
}

nav.navbar-brand{
	font-weight: 700;
	font-size: 1.5rem;
}
